$color-primary: #000;
$color-secondary: #B3B3B3;
$color-white: #fff;

.cta-btn {
    margin: 0;
    padding: 13px 30px;
    text-transform: uppercase;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    font-size: 11px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background-color: $color-secondary;
        color: $color-primary;
    }
}

.move-btn {
    display: flex;
    align-items: center;
    background-color: #000;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
    outline: none;

    .btn-arrow {
        margin-left: 20px;
        transition: all 1s;
        cursor: pointer;
    }

    &:hover {
        text-decoration: underline;
        
        & .btn-arrow {
            margin-left: 10px;
        }
    }
    & svg g {
        stroke: $color-white;
    }
}