.stories {
    height: 800px;
    color: #fff;
    position: relative;
    font-family: 'DM Sans', sans-serif;

    &__background {
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #000;
        background-image: url("../../assets/stories/desktop/moon-of-appalacia.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 100px;
    } 

    &__latest {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }

    &__title {
        max-width: 400px;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }

    &__date {
        color: #b3b3b3;
        font-size: 13px;
        margin-bottom: 30px;
        font-weight: 500;

        & span {
            color: #fff;
        }
    }

    &__description {
        color: #b3b3b3;
        font-size: 15px;
        line-height: 1.8;
        font-weight: 600;
        margin-bottom: 40px;
        letter-spacing: -1px;
    }

    &__btn {

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: 0.6s ease-in-out opacity;
            background-image: radial-gradient(ellipse at bottom left, #FFC593 0%, rgba(188,113,152,0.50) 38%, rgba(90,119,255,0.00) 73%);
        }

        &:hover {

            &::after {
                opacity: 0.5;
            }
        }
    }
}

@media only screen and (max-width: 750px) {

    .stories {
        display: flex;
        flex-direction: column;

        &__background {
            background-image: url('../../assets/stories/mobile/moon-of-appalacia.jpg');
            height: 50%;
        }

        &__content {
            position: static;
            background-color: #000;
            max-width: 100%;
            padding: 30px;
            height: auto;
        }

        &__title {
            max-width: 100%;
        }

        &__btn {

            &::after {
                width: 0;
            }
        }
    }
}